body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

#chat {
  background: white;
  width: 300px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

#mensajes {
  height: 200px;
  border: 1px solid gray;
  margin-bottom: 10px;
  overflow-y: auto;
  padding: 5px;
  text-align: left;
}

input {
  width: 70%;
  padding: 5px;
}

button {
  padding: 5px 10px;
}
